.display-4 {
  font-family: "Grand Stylus";
  text-align: center;
  font-size: 6em;
}

.rapperImg {
  width: 300px;
  height: 300px;
}

.card {
  min-height: 500px;
  max-height: auto;
}

.rapperImg {
  cursor: pointer;
}

.rapperImg:hover {
  background: red;
}

.rapperImg:focus {
  width: 2em;
  height: 2em;
}

@font-face {
  font-family: "Grand Stylus";
  src: url("../fonts/grand_stylus-webfont.woff") format("woff"),
    url("../fonts/grand_stylus-webfont.woff2") format("woff2");
}
